body{
    padding: 0;
    margin: 0;
}
.orderMapHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.order_map_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 10px 0px;
    margin-top: 0px;
    
}
.mapOrderTitle{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 4px;
    align-items: center;
    
}
.mapOrderTitle h3{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
}
.blueOrders{
    display: flex;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(0, 97, 158);
    margin: 0px 4px;
}
.redOrders{
    display: flex;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    margin: 0px 4px;
    margin-left: 14px;
}

.indicator{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.indicator label{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;

}