@import '../../styles/variables.scss';



#gradient-canvas {
      width:100%;
      min-height: 100%;
      // aspect-ratio: 1 / 7;
      position: absolute;
      top: 0%;
      bottom: 0;
      z-index: -9999;
      display: flex;
      align-items: center;
      justify-content: center;   
  
      --gradient-color-1: #4896d5; 
      --gradient-color-2: #6ec3f4; 
      --gradient-color-3: #f6f6f6;  
      --gradient-color-4: #d2d5f5;
      clip-path: polygon(99% 0%, 0% 99%, 0% 0%);

   

}
.aboutpageContainer{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;

   // background: linear-gradient(to right , rgb(132, 132, 203) , white);
   // animation: fade 10s forwards infinite;
   // animation-fill-mode: backwards;
   // animation-play-state: running;
   // transition: step-end ease-in 1s;


  .aboutPage{
    width: 100%;
    margin-top: 5%;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .aboutInfo{
       width: 90%;
       display: flex;
       flex-direction: column;
       align-items: center; 
       transition: all ease 0.4s;

       @include breakpoint(sm){
          width: 70%;
          transition: all ease 0.4s;
       }

       @include breakpoint(md){
         width: 60%;
         transition: all ease 0.4s;
       }
       
       @include breakpoint(lg){
          width: 70%;
          transition: all ease 0.4s;
       }
       
       h1{
        font-size: 25px;
        font-family: $Poppins;
        font-weight: 500;
        color: #fcdb00;

        @include breakpoint(sm){
          font-size: 27px;
        }
        @include breakpoint(md){
          font-size: 30px;
        }

        @include breakpoint(lg){
          font-size: 35px;
        }
        
       }
       p{
         font-size: 11px;
         font-weight: 300;
         font-family: $Poppins;
         line-height: 3rem;

         @include breakpoint(sm){
            font-size: 12px;
         }
         @include breakpoint(md){
            font-size: 13px;
         }

         @include breakpoint(lg){
            font-size: 15px;
         }
       }
    }


    .aboutWork{
         display: flex;
         flex-direction: column;
         width: 100%;
         margin: 0;
         padding: 0;
         align-items: center;
         justify-content: center;
         padding-top: 2rem;

         h2{
            font-size: 25px;
            font-family: $Poppins;
            font-weight: 500;
            color: #fcdb00;
         }
      .aboutWorkHolder{
            display: flex;
            flex-direction: column;
            width: 90%;
            align-items: center;
            justify-content: center;
            padding-top: 2rem;
            transition:  all ease 0.4s;


            @include breakpoint(md){
               display: grid;
               grid-template-columns: repeat(2 , 1fr);
               transition:  all ease 0.4s;
              
            }
            @include breakpoint(lg){               
               grid-template-columns: repeat(4 , 1fr);
               transition:  all ease 0.4s;
              
            }


            div{
               width: 300px;
               aspect-ratio: 1 / 1;
               padding: 1rem;
               margin: 1rem auto;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               border: 1px solid #00000033;
               border-radius: 4px;
               transition:  all ease 0.4s;

               @include breakpoint(sm){
                  width: 250px;
                  transition:  all ease 0.4s;
               }
               @include breakpoint(md){
                  width: 250px;
                  transition:  all ease 0.4s;
               }
               @include breakpoint(lg){
                  width: 225px;
                  transition:  all ease 0.4s;
               }

               p{
                  font-size: 14px;
                  font-family: $Poppins;
                  font-weight: 500;
                  color: #fcdb00;
               }
               

               svg{
                  margin-top: 1rem;
                  font-size: 45px;
                  color: #fcdb00;
               }
            }
      }
    }
    .visitLocations{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;       
        padding: 3rem;
        margin-top: 4rem;
        overflow: hidden;

         h2{
          font-size: 25px;
          font-family: $Poppins;
          font-weight: 500;
          color: #fcdb00;
          padding-bottom: 3rem;

         }
         span{

         }
         .visitSlideShowContainer{
              position: relative;
              width: 90%;
              height: 100%;      
              display: flex;
              align-items: center;
              overflow: hidden;
              justify-content: space-between;

            .visitSlideShow1{
              display: flex;
             // width: 300%;
              align-items: center;
              justify-content: space-between;
              animation: scroll 20s linear infinite;
              margin-left: 0rem;
              transition: all ease 0.4s;

              @include breakpoint(sm){
                  animation:  scroll 25s linear infinite;
              }
              @include breakpoint(md){
                animation: scroll 30s linear infinite;
              }
              @include breakpoint(lg){
                animation: scroll 40s linear infinite;
              }

         
              &:hover{
                  animation-play-state: paused;
              }
       


              div{
                width: 350px;
                height: 200px;
                align-items: center;
                justify-content: center;
                display: flex;
                margin-right: 2rem;              
                border: none;
                border-radius: 5px;

                  @include breakpoint(sm){
                      width: 400px;
                      height: 300px;
                  }
                  @include breakpoint(md){
                     width: 700px;
                     height: 400px;
                  }
                  @include breakpoint(mdP){
                     width: 800px;
                     height: 450px;
                  }
                  // @include breakpoint(lg){
                  //    width: 1000px;
                  //    height: 550px;
                  // }
               }


            }
            .visitSlideShow2{
                display: flex;
                //width: 200%;
                align-items: center;
                justify-content: space-between;

                div{
                  width: 350px;
                  height: 200px;
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  margin: 0 1rem;
                  background-color: rgb(226, 239, 45);
                  border: none;
                  border-radius: 5px;

                  @include breakpoint(sm){
                    width: 400px;
                    height: 300px;
                }
                @include breakpoint(md){
                   width: 700px;
                   height: 400px;
                }
                @include breakpoint(mdP){
                   width: 800px;
                   height: 450px;
                }
               //  @include breakpoint(lg){
               //     width: 1000px;
               //     height: 550px;
               //  }
        
                }
            }


         }
    }

  

  }

}


@keyframes scroll{
  0%{
       margin-left: 0%;
  }
  100%{
      margin-left: -340%;
      display: none;
      
  }
}

@keyframes fade{
   0%{
      background: linear-gradient(to left , rgb(121, 121, 222) , white);
      transition: all ease-in 1s;
   }
   100%{
      background: linear-gradient(to right , rgb(132, 132, 203) , white);
      transition: all ease-in 1s;
   }
}


     