/* a {
  color: black;
}


.navbar_main{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  color: black;
  width: 100%;
  border-bottom: 1px solid #FFE45E;

}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 45px;
  width: 1200px;
  margin: auto;

}

.navbar .logo{
  font-family: 'EB Garamond','Aboreto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: auto 5px;
  color: black;
}

.navbar .menus{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  margin: auto;
}

.navbar .menus ul{
  margin: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}
.navbar .menus ul li{
  list-style: none;
}

.navbar .menus .current{
  font-weight: bold;
}



.navbar .icons{
  display: flex;
}

.navbar .icons .icon{
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .icons .icon .smaller{
  transform: scale(0.91);
}

.navbar .icons .icon .cartIconHolder {
  display: flex;
  justify-content: center;
  vertical-align: center;
  padding: 10px;
  border-radius: 175px;
  color: black
 
}

.navbar .icons .icon .accountIconHolder {
  display: flex;
  justify-content: center;
  vertical-align: center;
  background-color: #f6d017f4;
  transition: all ease 0.3s;
  transform: scale(1.2);
  font-size: 12px;
  padding: 7px 13px;
  border-radius: 15px;
  color: black;
  
}


.navbar .icons .icon .cartIconHolder:hover{
  transition: all ease 0.9s;
  transform: scale(1.1);

}

.navbar .icons .icon .accountIconHolder:hover {
  transition: all ease 0.3s;

  background-color: #ffea80f4;
}


.navbar .icons .icon .cartIconHolder span{
  padding: 1px;
  top: 0;
  color: black;
  object-fit: contain;
  font-size: 12px;
  font-weight: bold;
}

.navbar .icons .btn{
  background-color: white;
  color: black;
  padding: 5px 15px;
  margin: 0 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 5px;
}

@media(max-width: 700px){ 
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 45px;
    align-items: center;
  
  }
}

.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
} */