.add_order{

}

.add_order .card{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.add_order .form_side .tops{
  display: flex;
  gap: 15px;
}

.add_order .form_side .tops h3{
  font-size: 25px;
}

.add_order .orders .menu .rest_list, 
.add_order .orders .menu .food_list{
  padding: 20px;
  /* background-color: antiquewhite; */
  
  margin: 5px;
}

.add_order .orders .orderAndCard {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.add_order .orders .menu {
  /* border: 1px solid black; */
  width: 100%;
}

.add_order .orders .menu .rest_list .rest_select{
  width: 100%;
  /* display: none; */
}

/* cart */
.add_order .orders .cart_main{
  width: 40%;
  padding: 24px 10px;
  /* border: 1px solid black; */
}

/* .add_order .orders .cart h1{
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(161, 161, 161);
}
.add_order .orders .cart .product{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.add_order .orders .cart .product .name{
  width: 60%;
}
.add_order .orders .cart .product .price{
  width: 20%;
}

.add_order .orders .cart .product .qty, .add_order .orders .cart .product .action{
  width: 10%;
} */

.add_order .orders .address{
  padding: 10px;
  /* border: 1px solid black; */
  background-color: rgb(255, 255, 255);
}
.add_order .orders .address input{
  padding: 8px;
  width: 100%;
}


.add_order .searchBar{
  margin: 16px 20px;
  display: flex;
}

.add_order .searchBar .btn_search{
  padding: 5px 24px;
  border-radius: 6px;
  margin: 0 10px;
  background-color: #000000;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.search__input { 
  width: 60%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: #000000;
  background-color: transparent;

  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  /* border-radius: 50px; */
  border: 1px solid #000000;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
