body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active_status{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 4px;
    background-color: #10ac3b;
    color: white;
    font-size: 12px;
    font-family:  sans-serif;
    font-weight: normal;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
}


.de-active_status{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 4px;
    background-color: #c7320d;
    color: white;
    font-size: 12px;
    font-family:  sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
}

.nextButtonHolder{
    display:flex;
    width: 100%;
    height:fit-content;
    padding: 5px;
    margin:0;
    margin-top: 10px;
    align-items: center;
    justify-content: right;
}


.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded
{
    max-width: 1100px;
    display: flex;
    width: 50%;
    height: fit-content;
    background:#ffffff;
    color:  black;
    padding: 0;
    margin: 0;
}

.dialog_userInfoHolder{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    margin: 0;

}
.dialog_userInfoHolder h2{
    margin:0;
    padding: 0;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.dialog_userInfoHolder p{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    color:black;
    
} 
.userAnalysisBody{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.userAnalysisBodyLeft{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.checkoutRateHolder,.recentCartHistory{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: contain;
}
.chartHolder{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}


.userPieChart{
    width: 100%;
    height: 100%;

}







.userAnalysisRight{
    display: flex;
    flex:1;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.userPieChart{
    width: 100%;
    height: 100%;
}


.userAnalyticsTypeSlider{
    display: flex;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: #cac8cc78;

}
.reachedCheckoutPage,
.visitPage,
.recentPerchases{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.reachedCheckoutPage p,
.visitPage p,
.recentPerchases p{
    display: flex;
    font-size: 12px;
    font-weight: lighter;
    font-family:  sans-serif;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    
}

.visitedFromMapHolder{
    display: flex;
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;

}