.center{
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 3;
}

.restaurants{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  /* justify-content: center; */
}

.restaurant_table{
  width: 100%;
}

.restaurant{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 480px; */
  /* position: relative; */
  margin: 0 35px 35px 0px;
  border-bottom: 2px solid rgb(240, 240, 240);
}

.restaurant h3{
  margin: 8px 0;
  padding: 0 20px;  
}
.restaurant p{
  padding: 0 20px;  
  align-items: center;
}

.addButton{
  margin: 10px;
  padding: 15px;
  width: 100%;
  border: 2px solid rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton .add{
  align-items: center;
}

.productListPageHolder{
  width: 100%;
  padding: 0;
  margin: 0;
  height: fit-content;
  
}

.MuiSvgIcon-root.editProductIcon{
  font-size: 20px;
  color: silver;
  transform: 0;
}


.MuiSvgIcon-root.deleteProductBtn{
  font-size: 20px;
  color: red;
  transform: 0;

}
.MuiSvgIcon-root.editProductIcon:hover,
.MuiSvgIcon-root.deleteProductBtn:hover{
  transform: scale(1.1);
  transition: all ease 0.4s;
  cursor: pointer;
  font-weight: bolder;
}

.ant-drawer.ant-drawer-right.ant-drawer-open{
  top:65px;
}
.ant-table-cell{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(36, 24, 3);
  font-weight: normal;
}
.ant-table-column-title{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(36, 24, 3);
  font-weight: normal;
}


.ant-btn.ant-btn-default span{
  font-size: 12px;
}
.ant-col.ant-form-item-label label{
  font-size: 12px;
}
.searchBarContainer{
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.sorter{
  display: flex;
  width: 100%;
  height: 100%;
  flex:1.5;
  align-items: center;
  justify-content: left;
 
}

.active_only{
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: left;


}
.active_only_wrapper{
  display: flex;
  padding: 0;
  margin: 0;
  width: 40%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: rgb(222 215 215 / 74%);
  border: 1px solid #afa1a1;
  border-radius: 1px;

}
.all_products{
  display: flex;
  padding: 0;
  margin: 0 0 ;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #afa1a1;
  cursor: pointer;

}



.all_products p,
.active_products p,
.diactive_products p{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;

}

.active_products{
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  cursor: pointer;
  border-right: 1px solid #afa1a1;

}
.category_products{
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  cursor: pointer;
}

.makeStyles-formControl-49 {
  margin: 0px;
  min-width: 120px;
  border: none;
  padding: 0;
}






.diactive_products{
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  cursor: pointer;
}








.category_sorting{
  display: flex;
  flex: 2;
  width: 100%;
  height: 100%;
  align-items: center;
  
}

.productList_searchBarWrapper{
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;

}

.productList_searchBar{
  display: flex;
  padding: 5px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  border: 1px solid rgba(0, 0, 0, 0.182);
  border-radius: 2px;
  width: 80%;
  height: 60%;

  
}

.searchIconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 60px;
  background: transparent;
  padding: 0;
  margin: 0;
  border:  1px solid rgba(0, 0, 0, 0.182);
  border-left: none;

}


.searchIconContainer svg{
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 174, 0);
  cursor: pointer;
  transform: 0;

}
.searchIconContainer svg:hover{
  font-weight: normal;
  transform: scale(1.1);
  transition: all ease 0.4s;
}


.editProduct_imageHolder{
  width: 80%;
  height: 250px;
  object-fit: contain;
  padding: 0;
  margin: 0;
  display: flex;
}

.editProduct_imageHolder img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: contain;
  cursor: pointer;
}


.ant-form-item-required{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}
.ant-input{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.149);
  padding: 2px;
  margin: 0;
}

.ant-drawer-title {
  margin: 0;
  color: rgba(81, 56, 5, 0.85);
  font-weight: lighter;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.anticon.anticon-close{
  font-size: 10px;

}
.ant-btn.ant-btn-default{
  display: flex;
  padding: 7px;
  
  align-items: center;
  justify-content: center;
}
.ant-btn.ant-btn-default span,
.ant-btn.ant-btn-primary span{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
}

.ant-btn.ant-btn-primary{
  display: flex;
  padding: 7px;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border:  transparent;
}






.productList_search{
  display: flex;
  flex: 2;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.productList_searchWrapper{
  display: flex;
  padding: 0;
  margin: 0;
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.productLIst_category{
  display: flex;
  flex: 1.3;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}
.productList_searchInput{
  display: flex;
  flex: 1.6;
}
.productList_searchInput input{
  width: 100%;
  height: 60%;
  outline: none;
  padding: 5px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  margin: 0px 4px;
  border: none;
  border-left: 1px solid black;

}

.productList_searchInput input:focus{
  border: none;
  background-color: none;
  outline: none;
}



.productList_searchCategorySelect{
  display: flex;
  object-fit: contain;
  content: fill;
  justify-content: center;
  align-content: center;
}
.MuiInputBase-input.MuiOutlinedInput-input{
  display: flex;
  align-items: center;
  justify-content: center;
}


.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input
{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;

}




.MuiFormControl-root.searchCategoryForm{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productList_searchCategorySelect.MuiInputBase-formControl{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}



.productList_category,.productList_searchInput{
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  border:none;
  padding: 0;
  margin: 0;
}



.MuiFormControl-root {
  border: none;
  margin: 0;
  padding: 0;
  width: 130px;
  height: fit-content;
  
}


