@import '../../styles/variables.scss';

.slider{
    top: 0;
    width: 100%;
    height: 350px;
    object-fit: contain;
    overflow: hidden;  
    background-color: white;
    transition: all ease 0.4s;

    @include breakpoint(sm){
        height: 400px;
        transition: all ease 0.4s;
    }
    @include breakpoint(md){
        height: 550px;
        transition: all ease 0.4s;
    }
    @include breakpoint(lg){
        height: 700px;
        transition: all ease 0.4s;
    }

}




.slide{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    padding: 0;   
    opacity: 0;
    transform: translateX(-50%);
    transition: all ease 0.5s; 
    object-fit: contain;
    
    
    .imgHolder{
        display: flex;
        flex-direction: column;
        background-color: white;
 
    }
    


    img{
        position: relative;
       width: 400px;
       height: 100%;
       float: right; 
       transition:  all ease 0.4s;
       

       @include breakpoint(sm){
            height: 400px;
            transition:  all ease 0.4s;
       }
       @include breakpoint(md){
            height: 600px;
            width: 550px;
            transition:  all ease 0.4s;
       }
       @include breakpoint(lg){
            height: 700px;
            width: 650px;
            transition:  all ease 0.4s;
       }
    }
}


.content{
    position: absolute;
    left: 1rem;
    opacity: 0;
    width: 90%;
    padding: 3rem;
    animation: slideUp 1s ease .5s;
    animation-fill-mode: forwards;
    visibility: hidden;

    div{
        width: 100%;
        padding: 3px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff8c;
        border: none;
        border-radius: 25px;


        input{
            display: flex;
            flex: 4;
            width: 60%;
            height: 40px;
            border: none;
            padding: 5px;
            margin: 0 1rem;
            background: transparent;
            font-size: 12px;
            font-family: $Poppins;
            font-weight: 300;
            color: rgb(0, 0, 0);

            &:focus{
                outline: none;    
            }
        }

        svg{
            font-size: 25px;
            margin-right: 1rem;
            color: white;
            transform: 0;
            &:hover{
                transform: scale(1.4);
                transition: all ease-in 0.3ms;
                cursor: pointer;
            }
        }


        @include breakpoint(sm){
            
            background-color: rgba(248, 162, 24, 0.494);   
            transition: all ease 0.4s;
        }
        @include breakpoint(md){
            width: 80%;
            background-color: rgba(248, 162, 24, 0.494);   
            transition: all ease 0.4s;
        }
        @include breakpoint(lg){
            width: 80%;
            background-color: rgba(248, 162, 24, 0.494);   
            transition: all ease 0.4s;
        }
     
    }
    
    
    @include breakpoint(sm){
        width: 80%;
        padding: 2rem;
        left: 2rem ;
    }
    @include breakpoint(md){
        width: 70%;
    }
    @include breakpoint(lg){
        width: 50%;
    }


}

@keyframes slideUp{
    
    0%{
        visibility: visible;
        top: 30rem;    

    }
    100%{
        visibility: visible;
        top: 3rem;  
    
        
    }
}


.content p{
    font-size: 12px;
    font-family: $Poppins;
    margin: 2rem auto;
    color: $dark;
    font-weight: 300;
}

.content h2{
    font-size: 20px;    
    padding: 0;
    margin: 0;
    color: $dark;
    font-family: $Poppins;
    font-weight: bold;

    @include breakpoint(sm){
        font-size: 25px;
    }
    @include breakpoint(md){
        font-size: 35px;
        margin-top: 6rem;
    }
    @include breakpoint(lg){
        font-size: 40px;
        margin-top: 8rem;
    }

  
}
.content h3{
    font-size: 17px;
    padding: 4px;
    color: $dark;
    font-family: $Poppins;
    font-weight: 300;

    @include breakpoint(sm){

    }
    @include breakpoint(md){

    }
    @include breakpoint(lg){

    }

}


.content > * {
    color: rgb(147, 86, 5);
    background-color: transparent;

}
.current{
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.current .content{
    opacity: 1;
}

.arrow {   
    position: absolute;
    z-index: 999;
    cursor: pointer;
    color: white;
    top: 45%;
}

.arrow:hover{
    color: gray;
}
.next{ 
    right: 1rem;
}
.prev{  
    left: 1rem;
}
