body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chartContainer{
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.headerTitle{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.headerTitle p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: orange;
    padding: 5px;
    margin: 5px;
}

.headerTitle span{
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: blue;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.numeric_Information{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;

}
.price{
    font-size: 25px;
    font-weight: lighter;
    font-family: cursive;
    color: rgb(59, 49, 2);
    padding: 5px;
    margin: 5px;
}
.rate{
    font-size: 16px;
    font-weight: normal;
    font-family: cursive;
    color: rgb(59, 49, 2);
    padding: 5px;
    margin: 5px;
}
