/* *{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
} */

body{
    padding: 0;
    margin: 0;
}

.profilePage{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.profileWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    marign:0;

}

.profileInfo_Holder{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 235px;
}

.profileIconContainer{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: left;
    justify-content: left;
}
.profileIconContainer svg{
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: left;
    font-weight: bolder;
    color: rgb(15, 153, 212);
}
.profileBodyContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;

}
.profileBodyContainer p{
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    width: -moz-fit-content;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    border: none;
    border-radius: 3px;
    background-color: #e6e6e6;
}

.changeUserNameHolder
,.changePasswordHolder
,.addNewAdminHolder{
    width: 100%;
    padding: 6px;
    margin: 1px;
   
}
.MuiAccordion-rounded:last-child{
   
}




/* 



.profileInformation_container{
    display: flex;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    background-color: rgba(146, 220, 127, 0.6);
    align-content: center;
    justify-content: center;
    align-items: center;
}
.profileInfoCircle{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.profileCircleIconHolder{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

}
.profileCircleIconHolder svg{
    font-size: 50px;
    color: rgb(12, 138, 255);
    

   
}
.profileCircleBody{
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 5px;
    align-items: center;
    justify-content: center;
}
 */


/* .upperSide ,
.lowerSide{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
} */
/* .profileInfoSide{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   
} */
/* .profileInformation{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 4px;
    margin: 5px 0px;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
} */
/* .profileInformation h2 ,
.addAdminWrapper h2,
.editProfileInformation h2{
    width: 100%;
    height: 40px;
    margin: 5px 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;

} */
/* .profileInformation p{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    width: 100%;
    padding: 0;
    margin: 1px;
    margin-left: 5px;
    margin-bottom: 6px;
} */


/* .editProfileSide{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
} */
/* .editProfileInformation{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;   
    padding: 4px;
    margin:0;
    
} */

/* .changeUserNameSide,
.changePasswords{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5px 10px;

} */
.changeUserNameSide h3,
.changePasswords h3{
    width: 100%;
    height: 20px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.changeUserNameSide input,
.changePasswordSide input,
.addAdminWrapper input{
    display: flex;
    width: 200%;
    height: 40px;
    border: 1px solid rgb(193, 181, 181);
    padding: 5px;
    margin: 0;
    margin-bottom: 4px;
    border-radius: 2px;
}

.userNameChangeBtn,
.passwordChangeConfirm,
.addAnotherAccountBtn{
    display: flex;
    width: fit-content;
    padding: 5px;
    margin: 0px;
    margin-top: 1px;
    cursor: pointer;

}

.addAdminWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
