body{
  padding: 0;
  margin: 0;

}

.MuiTableHead-root {
  display: table-header-group;
  background: #55d7238c;
  
}
.MuiTableCell-root.MuiTableCell-head{
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-weight: bold;
}

.deliveryOrderTable{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.deliveryOrderListTableHeader{
  font-size: 13px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
