.detail {
  /* position: relative;
  top: 90px; */
  font-family: sans-serif;
}

.detail .container {
  padding: 20px;
  max-width: 1300px;
  margin: auto;
}

.detail .image {
  padding: 0;
  margin: 0;
  height: 260px;
}

.image img {
  width: 100%;
  height: 100%;
  background-position: center;
  /* size: cover; */
  object-fit: cover;
  overflow: hidden;
  background-blend-mode: darken;
}

.detail .container .information {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.detail .container .information .rating {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 5px 0;
}

.detail .container .information .moreInfo {
  display: flex;
  max-width: 1000px;
  padding: 5px;
}

.detail .container .information .moreInfo .name {
}

.detail .container .information .moreInfo .disc {
  width: 60%;
  margin-right: 50px;
  padding-right: 35px;
  border-right: 1px solid rgb(161, 161, 161);
}

.detail .container .menu {
  max-width: 1300px;
  margin: auto;
}

.detail .container .menu .menu_container {
  display: flex;
  gap: 30px;
}

.detail .container .menu .typeFood {
  width: 70%;
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail .container .menu .accordion {
  font-family: sans-serif;
}

.detail .container .typeFood .displayMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detail .container .menu_container .cartView {
  width: 30%;
}

@media (max-width: 700px) {
  .detail .container .displayMenu {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .detail .container {
    padding: 20px;
    max-width: 1300px;
    margin: auto;
  }

  .detail .image {
    padding: 0;
    margin: 0;
    height: 160px;
  }

  .detail .container .information {
    padding: 0rem;
    display: flex;
    flex-direction: column;
  }

  .detail .container .information .rating {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 5px 0;
  }

  .detail .container .information .moreInfo {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 5px;
  }

  .detail .container .information .moreInfo .disc {
    width: 100%;
    margin-right: 50px;
    padding-right: 35px;
    margin-bottom: 15px;
    border-right: 0;
    border-bottom: 1px solid rgb(161, 161, 161);
  }

  .detail .container .menu .menu_container {
    display: block;
  }

  .detail .container .displayMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
    /* border: 1px solid black; */
  }

  .detail .container .menu .typeFood {
    width: 100%;
    padding: 0;
  }

  .detail .container .menu_container .cartView {
    width: 100%;
    /* display: none; */
  }
}
