

.restaurant{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 480px; */
  /* position: relative; */
  margin: 0 35px 35px 0px;
  border-bottom: 2px solid rgb(240, 240, 240);
}

.restaurant h3{
  margin: 8px 0;
  padding: 0 20px;  
}
.restaurant p{
  padding: 0 20px;  
  align-items: center;
}

/* .restaurant .status{  
  background-color: rgb(240, 240, 240);
  width: 100%;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  /* top: 0; */
.restaurant .status .open{
  padding: 10px;
  
}  
