@import '../../styles/variables.scss';



//acount page style

.account{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__optionDetails{
    display: flex;
    width: 95%;

    @include breakpoint(md){
       width: 80%;
    }

    @include breakpoint(lg){
       width: 70%;
    }

  }

}


//userProfile style

.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all ease .4s;

    @include breakpoint(md){
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      justify-content: center;
      transition: all ease .4s;
    }

    &__profileDetail, &__password{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;

       &__successMsg{

       }
       &__errorMsg{
          width: 70%; 
          border-radius: 4rem;
          padding: 1rem;
          font-size: 12px;
          font-family: $Poppins;
          color: rgb(242, 0, 0);
          transition: all ease .4s;
       }


        &__header{
            display: flex;
            width: 100%;
            padding: 1rem;

            svg{
               font-size: 20px;
               color: gray;
            }
            p{
              font-size: 13px;
              font-family: $Poppins;
              font-weight: 300;
              margin-left: 0.7rem;
            }
        }
        &__inputs{
           display: flex;
           flex-direction: column;
           width: 100%;
           align-items: center;
           justify-content: center;

          input{
            width: 70%;
            height: 40px;                
            margin-bottom: 5px;
            border-radius: 4rem;
            padding: 1rem;
            font-size: 12px;
            font-family: $Poppins;
            color: gray;
            border: 1px solid #00000052;
            cursor: pointer;

            &:focus{
              outline: none;
              border: 2px dotted #10cced52;
            }

          }
          button{
            width: 30%;
            height: 30px;           
            border: 1px solid red;
            border-radius: 0.2rem;
            background: transparent;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            font-family: $Poppins;
            margin-top: 0.5rem;

            &:hover{
                transition: all ease-in-out 0.4s;
             cursor: pointer;  
             width: 33%;
            }
            &:active{
               background-color: red;
               border: none;
               color:  white;
            }
            &:focus{
               
               outline: none;
            }
          }
        }
    }
   
}







//sidebar style
.sidebar{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;


  &__acountInfo{
      margin-top: 2rem;
      display: flex;
      height: fit-content;
      width: 90%;
      align-items: center;     
      box-shadow: 5px 9px 17px -1px rgba(190,151,151,0.75);
      -webkit-box-shadow: 5px 9px 17px -1px rgba(190,151,151,0.75);
      -moz-box-shadow: 5px 9px 17px -1px rgba(190,151,151,0.75); 
      border-radius: 3rem;
      transition: all ease .4s;
      @include breakpoint(md){
         width: 60%;
         transition:  all ease .4s;
      }
      @include breakpoint(lg){
         width: 40%;
         transition: all ease .4s;
      }
      &__avatar{
         svg{
          font-size: 74px;
          margin: 2px 0.6rem;
          color: #0946af;
         }
      }
      &__nameAphone{
          left: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          p{
            font-size: 12px;
            font-family: $Poppins;
            font-weight: 400;
            padding: 2px;
            margin: 3px;
            color: black;
          }
      }

  }
  &__options{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-top: 1rem;
    box-shadow: 5px 9px 17px -1px rgba(190,151,151,0.75);
-webkit-box-shadow: 5px 9px 17px -1px rgba(190,151,151,0.75);
-moz-box-shadow: 5px 9px 17px -1px rgba(190,151,151,0.75);

    justify-content: space-around;
    margin-bottom: 3rem;
    transition: all ease 0.4s;


    @include breakpoint(md){
       width: 70%;
       transition: all ease 0.4s;
      }
    @include breakpoint(lg){
       width: 50%;
       transition: all ease .4s;
    }

    div{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-family: $Poppins;
      font-weight: 400;
      color: black;
    }
    div:hover{
       background-color: rgba(255, 166, 0, 0.36);
       cursor: pointer;
       border-radius: 0.5rem;
    }

  }

}

//order table style

.userOrderHolder{
  width: 100%;
  margin-bottom: 3rem;
  &__load{
     display: flex;
     justify-content: center;
  &__collapser{
      &__cancelled{
         background-color: lightcoral;
         color: white;
      }
      &__pending{
          background-color: aquamarine;
      }
      &__complete{
         background-color: green;
      }
      &__inProgress{
         background-color: lightskyblue;
      }
  }
}


.orderDetailHolder{
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
  


   &__detailAndMap{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;

      @include breakpoint(mdP){
         display: flex;
         flex-direction: row;
      }
   

      &__detail{
         display: flex;
         flex-direction: column;
         width: 100%;

         h4{
            font-size: 16px;
            font-weight: 400;
            font-family: $Poppins;
         }
         p{
            font-size: 12px;
            font-weight: 300;
            font-family: $Poppins;
            padding-left: 1rem;
         }
      }
      &__map{
         width: 100%;
         height: 250px;
         padding: 0;
         margin: 0;
      }
   }

   &__progressView{
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 12px;
      margin-top: 2rem;
   }

   &__itemInfo{
      margin-top: 3rem;
   }
}
}