.comRow{
  background-color: rgb(144, 222, 168);
}

.penRow .btn{
  background-color: gray;
}

.canRow{
  background-color: rgb(255, 184, 184);
}

.inProg .btn{
  background-color: rgb(115, 241, 255);;

}

td {
  padding: 0 15px;
  font-size: 15px;
}

.ordersInfo{
  padding: 2rem 1rem;
}

.topInfo{
  font-size: 40px;
}

.mapHolder{
  padding: 20px;
  height: 400px;
  overflow: hidden;
}

.middleInfo{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.itemsInfo .totalInfo{
  align-items: left;
  text-align: right;
  padding: 15px;
}

